.editor {
  overflow: hidden;
  width: auto;
  border: 1px solid transparent;
  height: auto;
  border-left: 1px solid #eee;

  .view {
    position: absolute;
    top: 36px;
    bottom: 0;
    left: 150px;
    right: 0;
    padding: 3px;
    .CodeMirror {
      height: 100%;
      padding: 0;
      border: none;
    }
  }
}
