.filer {
  width: 150px;
  float: left;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    padding: 6px;
    cursor: pointer;
    &:hover {
      background: #CFD8DC;
    }
  }
}
