.markdown-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;

  .preview {
    width: 100%;
    height: 100%;
    overflow: auto;

    code {
      border-radius: 3px;
    }
    p {
      code {
        background: #eee;
      }
    }
  }
  
}
